.blog-container{
    max-width: 916px;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.blog-image img {
    border-radius: var(--radius-md);
}

.blog-text-content {
 margin-top: var(--sp-32);   
}

@media (max-width: 768px) {
    .blog-text-content {
     margin-top: var(--sp-16);   
    }
}