.success-hero{
  background-color: var(--color-black-500);
  height: 100vh;
  // padding: var(--sp-136) 0 var(--sp-176) var(--sp-50);
}
.wrapper{
  padding: var(--sp-48) 0 var(--sp-136);
  display: flex;
  flex-direction: column;
  gap: var(--sp-80);
}
.hero-image-wrapper {
  width: 884px;
  height: 500px;
  position: relative;
  overflow: hidden;
border-radius: var(--sp-32);

}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}
