.support-options{
  position: relative;
  background-color: var(--color-blue-300);
}
.support-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 40px; 
 
}
@media (max-width: 768px) {
  .support-card {
    gap: 24px;
  }
}


.wrapper{
  display: flex;
  flex-direction: column;
  row-gap: var(--sp-56);
}
@media (max-width:868px){
  .wrapper{
    row-gap: var(--sp-44);
  }
}