.support-options {
  position: relative;
  background-color: var(--color-blue-300);
}
.support-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--sp-56);
}
.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-form-wrapper {
  // display: flex;
  max-width: 571px;
}
.contact-info-container {
  display: flex;
  flex-direction: column;
  gap: var(--sp-56);
}
.contact-form-heading {
  margin-bottom: var(--sp-40);
}

.offices-grid {
  display: flex;
  gap: var(--sp-80);
  justify-content: center;
  margin-top: var(--sp-56);
}

.office-card {
  background: var(--color-blue-300);
  padding: var(--sp-32);
  display: flex;
  flex-direction: column;
  gap: var(--sp-24);
  border-radius: var(--radius-md);
  width: 300px;
}

.office-card__header {
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);
}
.office-card__phone {
  margin-top: var(--sp-12);
}

@media (max-width: 868px) {
  .wrapper {
    row-gap: var(--sp-44);
  }
  .offices-grid {
    gap: var(--sp-24);
    flex-direction: column;
  }
  .office-card{
    width: 100%;
    text-align: center;
    gap: var(--sp-16);
  }
  .office-card__header{
    gap: var(--sp-4);
  }
}
@media (max-width: 768px) {
  .support-card {
    gap: 24px;
  }

  .contact-form {
    flex-direction: column;
    gap: var(--sp-44);
  }

  .contact-info-container{
    gap: var(--sp-24);
  }

  .contactUsLayoutShift {
    display: flex;
    flex-direction: column-reverse;
  }
}
