.careers-sub-heading{
    margin-bottom: var(--sp-16);
}
.job-cards-container{
    display: flex;
    flex-direction: column;
    gap: var(--sp-40);
}
.careers-title{
    margin-bottom: var(--sp-56);
}

.why-work{
    background-color: var(--color-blue-300);
}