.testimonial {
//   position: relative;
border-left: 4px solid var(--color-lime);
  padding: var(--sp-24) var(--sp-24) var(--sp-24) var(--sp-32);
  border-radius: var(--radius-xs);
  background-color: var(--color-blue-300);
  max-width: 100%;


  &__quote {
    color: var(--color-black-500);
    margin-bottom: var(--sp-16);
    line-height: 160%;

    * {
      color: var(--color-black-500) !important;
    }
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__author-text {
    color: var(--color-black-400);

    * {
      color: var(--color-black-400) !important;
    }
  }

  // Variants
  &--primary {
    background-color: var(--color-blue-300);

    &::before {
      background-color: var(--color-lime);
    }
  }

  &--white {
    background-color: var(--color-white);
    border: 1px solid var(--color-black-100);

    &::before {
      background-color: var(--color-lime);
    }
  }

  &--dark {
    background-color: var(--color-black-500);

    &::before {
      background-color: var(--color-lime);
    }

    .testimonial__quote * {
      color: var(--color-white) !important;
    }

    .testimonial__author-text * {
      color: var(--color-black-300) !important;
    }
  }
}

@media (max-width: 768px) {
  .testimonial {
    padding: var(--sp-20) var(--sp-20) var(--sp-20) var(--sp-24);

    &::before {
      top: var(--sp-20);
      bottom: var(--sp-20);
      width: 3px;
    }

    &__quote {
      margin-bottom: var(--sp-12);
    }
  }
}