.cta-card {
  display: flex;
  flex-direction: column;
  gap: var(--sp-20);
  padding: var(--sp-27) var(--sp-32);
  border-radius: var(--radius-md);
  background-color: var(--color-black-500);
  max-width: 100%;

  &__title {
    color: var(--color-white);
    margin: 0;

    * {
      color: var(--color-white) !important;
    }
  }

  &__description {
    color: var(--color-black-300);
    margin: 0;
    line-height: 160%;

    * {
      color: var(--color-black-300) !important;
    }
    
}

    &__button {
      width: fit-content;
    }
}

@media (max-width: 768px) {
  .cta-card {
    padding: var(--sp-32);
    gap: var(--sp-20);
  }
}

@media (max-width: 480px) {
  .cta-card {
    padding: var(--sp-24);
    gap: var(--sp-16);
  }
}