.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-img-container {
  width: 280px;
  height: 280px;
  border-radius: 24px;
  background: var(--color-blue-300);
}

.team-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.team-name {
  margin-top: var(--sp-24);
}

.team-subtitle {
  margin-top: var(--sp-8);
  color: var(--color-black-400);
}

.team-heading {
  max-width: 55%;
  display: flex;
  justify-self: center;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-heading {
  width: 40%;
}
.about-image {
  width: 571px;
  height: 520px;
  border-radius: 24px;
  background: var(--color-blue-300);
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.our-team-card {
  display: flex;
  flex-direction: column;
}

.value-container {
  display: flex;
  justify-content: space-between;
}
.about-our-value-heading {
  margin-bottom: var(--sp-56);
}
.about-our-value-container {
  background: var(--color-blue-300);

  margin-inline: var(--sp-50);
}
.about-our-team-heading {
  margin-bottom: var(--sp-56);
}
.our-team-cards-container{
    display: flex;
    gap: var(--sp-40);
    justify-content: center;
    flex-wrap: wrap;
}
.about-metric-container{
    padding-bottom: 0px;
}
.about-our-team-parent-container{
    // padding-bottom: 0px;
}

@media screen and (max-width: 450px) {
    .team-heading{
        max-width: 100%;
        // text-align: start;
    }
    .about-container{
        flex-direction: column;
    }
    .about-heading{
        width: 100%;
    }
    .value-container{
        flex-direction: column;
    }
    .about-image{
        width: 100%;
        height: 267px;
        margin-top: var(--sp-16);
    }
    .about-our-value-container{
        margin-inline: 0px;
    }
}
