.services-list-card {
  display: flex;
  flex-direction: column;
  gap: var(--sp-16);
  padding: var(--sp-32);
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  border: 1px solid var(--color-black-100);
  max-width: 100%;

  &__title {
    color: var(--color-black-500);
    margin: 0;
    font-weight: 600;

    * {
      color: var(--color-black-500) !important;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--sp-10);
    list-style: none;
    padding: 0;
    margin: 0;
  }

//   &__item {
    
//   }

  &__text {
    background-color: var(--color-blue-300);
    padding: var(--sp-12) var(--sp-16);
    border-radius: var(--sp-12);

    * {
      color: var(--color-black-500) !important;
    }
  }
}

@media (max-width: 768px) {
  .services-list-card {
    padding: var(--sp-24);
    gap: var(--sp-20);

    &__list {
      gap: var(--sp-10);
    }

  }
}

@media (max-width: 480px) {
  .services-list-card {
    padding: var(--sp-20);
  }
}