.singleSuccessStoryBgColor{
    background-color: var(--color-black-500);
    height: 772.08px;
}
.sectionHeaderContainer{
    max-width: 900px;
    display: flex;
    justify-self: center;
    flex-direction: column;
}
.topLeftTextContainer{
    display: flex;
    gap: var(--sp-12);
    margin-bottom: var(--sp-40);
}
.successMetricContainer{
    display: flex;
    justify-content: space-between;
    margin-top: var(--sp-40);
}

// Main Section 
.mainSectionParentContainer{
    display: flex;
    gap: var(--sp-40);
}
.mainSectionContainer{
    max-width: 884px;
    gap: var(--sp-40);
    display: flex;
    flex-direction: column;
}
.companyDetailsCardContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--sp-24);
}

.solutionSection{
    display: flex;
    flex-direction: column;
    gap: var(--sp-20);
}

.solutionCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-20);
}
.theResultCardContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--sp-20);
    margin-top: var(--sp-20);
}
.twoImageContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--sp-20);
  margin-top: var(--sp-20);
}
.twoImageContainer__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.moreStoriesContainer{
    background-color: var(--color-blue-300);
}

.moreStoriesCardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: var(--sp-48);
    gap: var(--sp-32);
}

@media (max-width: 834px) {
    .mainSectionParentContainer{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .topLeftTextContainer{
        justify-content: center;
        margin-bottom: var(--sp-32);
    }
    .singleSuccessStoryBgColor{
        height: auto;
    }
    .solution-card{
        padding: var(--sp-24);
    }
    .theResultCardContainer{
        gap: var(--sp-14);
    }
    .mainSectionParentContainer{
        gap: 0px;
    }
    .moreStoriesCardContainer{
        margin-top: var(--sp-32);
        gap: var(--sp-24);
    }
}