.result-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--sp-16);
  padding: var(--sp-24);
  border-radius: var(--radius-xs);
  background-color: var(--color-blue-300);
//   border: 1px solid var(--color-black-100);
//   transition: transform 0.2s, box-shadow 0.2s;
  max-width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--sp-4);
    flex: 1;
  }

  &__title {
    color: var(--color-black-500);
    margin: 0;
    font-weight: 500;

    * {
      color: var(--color-black-500) !important;
    }
  }

  &__subtitle {
    color: var(--color-black-400);
    margin: 0;

    * {
      color: var(--color-black-400) !important;
    }
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    padding: var(--sp-8) var(--sp-16);
    background-color: var(--color-lime);
    border-radius: var(--radius-xs);
    flex-shrink: 0;
  }

  &__badge-text {
    color: var(--color-black-500);
    margin: 0;
    font-weight: 600;
    white-space: nowrap;

    * {
      color: var(--color-black-500) !important;
    }
  }
}

@media (max-width: 768px) {
  .result-card {
    padding: var(--sp-16) var(--sp-20);
    gap: var(--sp-12);

    &__badge {
    //   padding: var(--sp-6) var(--sp-12);
    width: 100%;
    justify-content: center;
    }
  }
}

@media (max-width: 480px) {
  .result-card {
    flex-direction: column;
    align-items: flex-start;

    &__badge {
      align-self: flex-start;
    }
  }
}