// ✅ Fluid Helper → auto scale between mobile & desktop
// Usage: font-size: fluid(16px, 24px);
@function fluid($min, $max, $minViewport: 390px, $maxViewport: 1640px) {
  $difference: $max - $min;
  @return calc(
    #{$min} + #{$difference} *
      ((100vw - #{$minViewport}) / (#{$maxViewport - $minViewport}))

  );
}

/* ✅ Heading Variants */
.h1 {
  font-family: var(--font-lato);
  font-weight: 600;
  // color: var(--color-black-500);
  font-size: fluid(36px, 64px);
  line-height: 130%;
}

.h2 {
  font-family: var(--font-lato);
  font-weight: 600;
  // color: var(--color-black-500);
  font-size: fluid(24px, 48px);
  line-height: 120%;
}

.h3 {
  font-family: var(--font-lato);
  font-weight: 600;
  // color: var(--color-black-500);
  font-size: fluid(20px, 24px);
  line-height: 120%;
}

.h4 {
  font-family: var(--font-lato);
  font-weight: 500;
  // color: var(--color-black-500);
  font-size: fluid(16px, 20px);
  line-height: 120%;
}

.h5 {
  font-family: var(--font-jakarta);
  font-weight: 500;
  // color: var(--color-black-500);
  font-size: fluid(16px, 18px);
  line-height: 160%;
}

.h6 {
  font-family: var(--font-jakarta);
  font-weight: 600;
  // color: var(--color-black-500);
  font-size: fluid(14px, 16px);
  line-height: 120%;
}

/* ✅ Body Variants */
.body-1 {
  font-family: var(--font-lato);
  font-weight: 400;
  // color: var(--color-black-500);
  font-size: fluid(14px, 32px);
  line-height: 120%;
}

.body-2 {
  font-family: var(--font-jakarta);
  font-weight: 400;
  // color: var(--color-black-500);
  font-size: fluid(12px, 24px);
  line-height: 160%;
}

.body-3 {
  font-family: var(--font-jakarta);
  font-weight: 400;
  // color: var(--color-black-500);
  font-size: fluid(12px, 18px);
  line-height: 160%;
}

.body-4 {
  font-family: var(--font-jakarta);
  font-weight: 400;
  // color: var(--color-black-400);
  font-size: fluid(12px, 16px);
  line-height: 150%;
}

.body-5 {
  font-family: var(--font-jakarta);
  font-weight: 400;
  // color: var(--color-black-500);
  font-size: fluid(12px, 14px);
  line-height: 150%;
}
.text-link {
  font-family: var(--font-jakarta);
  font-weight: 500;
  // color: var(--color-black-500);
  font-size: 16px;
  line-height: 25.6px;
}
.big-text{
font-family:  var(--font-jakarta);
font-size: fluid(90px, 300px);
font-weight: 600;
line-height: 492px;
}

.itel-label{
  font-family: var(--font-mark-ot);
  font-weight: 700;
  font-size: fluid(18px, 21px);
  line-height: 100%;
}
.itel-head {
  font-family: var(--font-mark-ot);
  font-weight: 500;
  font-size: fluid(36px, 60px);
  line-height: 124%;
  letter-spacing: -10%;
}
.itel-desc {
  font-family: var(--font-mark-ot);
  font-weight: 400;
  font-size: fluid(18px, 22px);
  line-height: 117%;
  letter-spacing: -3%;
}
